<div class="container">
    <div class="row">
        <div class="col col-md">
            <table class="table"  >
                <tr>
                    <!-- <th>Date</th> -->
                    <th>Word</th>
                    <th *ngFor="let user of userList">{{user.user_name}}</th>
                </tr>
                <tr *ngFor ="let word of wordList; let i = index" >
                    <td>{{word.word_value}}</td>
                    <td *ngFor = "let user of userList">
                        {{ getUsersScore(word.word_id, user.user_id)}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col col-lg-4">
            <mat-card>
                <mat-card-header>
                                    Rankings

                </mat-card-header>
            </mat-card>
        </div>
    </div>

</div>

