<div class="container">
    <div class="row justify-content-around">
        <div class="card-deck">
            <div class="card">
                <a class="card-block stretched-link text-decoration-none" href="words">

                <img class="card-img-top" src="assets/words.png" alt="Card image cap">
                <div class="card-body">

                    <p class="card-header">Past Words</p>
                </div>
            </a>
            </div>

        </div>
        <div class="card">
            <a class="card-block stretched-link text-decoration-none" href="scores-list">

            <img class="card-img-top" src="assets/scores.png" alt="Card image cap">
            <div class="card-body">

                <p class="card-header">Score History</p>
            </div>
        </a>
        </div>
        <div class="card">
            <a class="card-block stretched-link text-decoration-none" href="users">
                <img class="card-img-top" src="assets/map.png" alt="Card image cap">
                <div class="card-body">
                <p class="card-header">Players</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-around">
        <div class="col-xs-6" id="scores">
            <app-scores-list></app-scores-list>
        </div>
        <div class="col-xs-3">
            <app-rankings></app-rankings>
        </div>
    </div>
</div>