<h2>Score History</h2>
<table class="table-auto"  >
    <thead>
        <tr>
            <!-- <th>Date</th> -->
            <th>Word</th>
            <th *ngFor="let user of userList">{{user.user_name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let word of wordList; let i = index" >
            <td>{{word.word_value}}</td>
            <td *ngFor = "let user of userList">
                {{ getUsersScore(word.word_id, user.user_id)}}
            </td>
        </tr>
    </tbody>
</table>