/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f8ebba;
    background-blend-mode: lighten;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  